{% comment %}
This is currently an example schedule. Modify as necessary to fit the workshop.
{% endcomment %}


<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <!-- This is the table for Day 1-->
    <!-- A row is deinfed by a <tr> enclosure, a column entry in that row by a <td> enclosure -->
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Pre-workshop survey</a> </td>
      </tr>
      <tr>
        <td>08:30</td>
        <td>Arrival and Initial Set-up</td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="https://docs.google.com/presentation/d/1zdnY2Jf9nBuGR8j1XPlEjl8iblpylnRiiR2_q-R999k/edit?usp=sharing">Introduction to the workshop and tools</a></td>
      </tr>
      <tr>
        <td>9:15</td>
        <td><a href="{{page.root}}{%link _episodes/0A-intro_to_bash.md%}">Introduction to the Unix Shell</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/0B-bash_navigation.md%}">Navigating Files and Directories</a>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/0C-working_with_files_and_directories.md%}">Working With Files and Directories</a>
        </td>
      </tr>
      <tr>
        <td>10:00</td>
        <td><a href="{{page.root}}{%link _episodes/01-basics.md%}">Automated Version Control</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/02-setup.md%}">Setting Up Git</a></td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Morning tea</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="{{page.root}}{%link _episodes/03-create.md%}">Creating a Repository</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/04-changes.md%}">Tracking Changes</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/05-history.md%}">Exploring History</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/06-ignore.md%}">Ignoring Things</a></td>
      </tr>
      <tr>
        <td>12:30</td>
        <td>Lunch break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="{{page.root}}{%link _episodes/07-github.md%}">Remotes in GitHub</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/09-conflict.md%}">Conflicts</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{page.root}}{%link _episodes/10-branching.md%}">Branches</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Afternoon Tea</td>
      </tr>
      <tr>
        <td>15:15</td>
        <td><a href="{{page.root}}{%link _episodes/14-supplemental-rstudio.md%}">Supplemental: Using Git from
            RStudio</a></td>
      </tr>
      <tr>
        <td></td>
        <!-- <td><a href="{{page.root}}{%link _episodes/15-supplemental-vscode.md%}"> Supplemental: Using Git from VS
            Code</a>
        </td> -->
      </tr>
      <tr>
        <td>16:30</td>
        <td>Wrap-up and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank"
            rel="noopener noreferrer">Post-workshop Survey</a></td>
      </tr>
    </table>
  </div>
</div>